name: Exercise_Workflow
on: [push]
jobs:
  style-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: "Install style checker"
        run: pip install black
      - name: "Run style check"
        run: black --check .

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: "Install dependencies"
        run: |
          pip install pytest
          pip install numpy
          pip install matplotlib
      - name: "Run tests"
        run: pytest

  coverage_report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: "Install dependencies"
        run: |
          pip install pytest
          pip install coverage
          pip install numpy
          pip install matplotlib
      - name: "Run tests with coverage"
        run: |
          coverage run -m pytest
          coverage report
          coverage xml
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          retention-days: 14